body {
    /* background: linear-gradient(#171820, #141e30); */
    background: #DED6D6;
    height: 100%;
}

#container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    margin-top: 70px;
}

.form {
    left: 50%;
    width: 500px;
    padding: 50px;
    background: #171820;
    box-sizing: border-box;
    box-shadow: 20px 30px #131212;
    border-radius: 15px;
}

.form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.user {
    position: relative;
}

.user input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.form .user label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
}

.user input:valid~label {
    top: -30px;
    left: 0;
    color: white;
    font-size: 12px;
}

#condition label {
    color: white;
    padding-left: 3%;
}

#condition {
    padding-top: 1%;
    justify-content: center;
}

.form button {
    border-radius: 20px;
    padding: 12px 45px;
    background: #FDC029;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-color: transparent;
    margin-top: 10%;
}

.form button:hover {
    background: #DF861D;
    color: #fff;
    box-shadow: 0 0 5px #DF861D;
    border-color: #FDC029;
    border-radius: 20px;
    padding: 12px 45px;
}

button:active {
    transform: scale(0.95);
}

#errorMessage {
    color: rgb(207, 13, 13);
    padding: 20px;
    font-weight: lighter;
}


/* footer {
    position: absolute;
    background-color: #141e30;
} */